<div class="image-container">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" />
</div>
<h2 class="title">{{product.name}}</h2>
<div class="info">
    <div class="info-item">
        <label for="">ID:</label>
        <span>{{product.id}}</span>
    </div>
    <div class="info-item">
        <label for="">Author:</label>
        <span>{{product.author}}</span>
    </div>
    <div class="info-item">
        <label for="">Publisher:</label>
        <span>{{product.publisher}}</span>
    </div>
    <div class="info-item">
        <label for="">Price:</label>
        <span>{{product.price}}NIS</span>
    </div>
    <div class="info-item">
        <label for="">Discount:</label>
        <span>{{product.discount}}</span>
    </div>
</div>
