<div *ngIf="userAccount !== null" class="account-container">
    <h1 class="title">Account Details</h1>
    <div class="account">
        <div class="data-field">
            <label>ID:</label>
            <span>#{{userAccount.id}}</span>
        </div>
        <div class="data-field">
            <label>Username:</label>
            <span>{{userAccount.username}}</span>
        </div>
        <div class="data-field">
            <label>E-mail:</label>
            <span>{{userAccount.email}}</span>
        </div>
        <div class="btn-container">
            <button class="btn" type="button" (click)="onClickEdit()">Edit</button>
            <button class="btn" type="button" (click)="onClickChangePassword()">Change Password</button>
        </div>
        
    </div>
    <div class="delete-btn-container">
        <button class="btn" type="button" (click)="onClickDeleteAccount()">Delete Account</button>
    </div>
</div>
<app-modal *ngIf="showModal" (close)="onModalClose()">
    <div *ngIf="!isChangePassword">
        <h3>Edit Account Details</h3>
        <app-user-form [user]="userAccount" (userSubmit)="onEditSubmit($event)"></app-user-form>
    </div>
    <div *ngIf="isChangePassword">
        <h3>Change Password</h3>
        <app-change-password (passwordSubmit)="onChangePasswordSubmit($event)"></app-change-password>
    </div>
</app-modal>

<!-- <div *ngIf="userAccount === null">
    User not found.
</div> -->
<app-dialog-box-modal
    *ngIf="displayDialogBox"
    [message]="dialogBoxMessage"
    [isYesNo]="isConfirmDelete"
    (close)="onDialogBoxClose()"
    (confirm)="onConfirmDelete()"
></app-dialog-box-modal>