.account-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.3rem;
    align-items: center;
    .title {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
}
.account {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .data-field, .btn-container {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    
}

@media screen and (min-width: 500px) {
    .account-container {
        display: grid;
        grid-template-columns: auto 10rem;
        grid-template-rows: 3rem auto;
        grid-template-areas: 
            'title delete'
            'account .';
        .title {
            grid-area: title;
        }
        .delete-btn-container {
            grid-area: delete;
        }
        .account {
            grid-area: account;
            justify-content: center;
            .data-field, .btn-container {
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}