:host {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}
h4 {
    text-align: center;
}
@media screen and (min-width: 500px) {
    .actions {
        flex-direction: row;
    }
}