<a [routerLink]="['/admin', 'dashboard']">Back</a>
<app-product-info [product]="product"></app-product-info>
<div class="actions">
    <button class="btn" (click)="onClickEdit()">Edit Book</button>
    <button class="btn" (click)="onClickDelete()">Delete Book</button>
</div>

<app-modal *ngIf="displayEditForm" (close)="onCloseEditForm()">
    <h4>Edit Book</h4>
    <app-product-form [productToEdit]="product" (productSubmit)="onEditFormSubmit($event)"></app-product-form>
</app-modal>
<app-dialog-box-modal 
    *ngIf="displayDialogBox"
    [isYesNo]="isConfirmDelete" 
    [message]="dialogBoxMessage"
    (close)="onCloseDialogBox()"
    (confirm)="onConfirmDelete()"
></app-dialog-box-modal>