<app-product-info [product]="product"></app-product-info>
<div class="order-options">
    <div class="info-item">
        <label for="">Price:</label>
        <span>{{product.price}}NIS</span>
    </div>
    <div *ngIf="product.discount" class="info-item">
        <label for="">Discount:</label>
        <span>{{product.discount}}%</span>
    </div>
    <div *ngIf="product.discount" class="info-item">
        <label for="">Total:</label>
        <span>{{product.price * (100 - product.discount) / 100}}NIS</span>
    </div>
    <button class="submit-btn">Add To Cart</button>
</div>
