<form class="form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" id="username" type="text" formControlName="username" />
        <div *ngIf="usernameInput?.invalid && usernameInput?.touched" class="error-msg">User Name Required!</div>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" id="password" type="password" formControlName="password" />
        <div *ngIf="passwordInput?.invalid && passwordInput?.touched" class="error-msg">Password Required</div>
    </div>
    <div *ngIf="loginFailedMessage.length !== 0" class="error-msg">{{loginFailedMessage}}</div>
    <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
