.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #979797, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-main {
    // width: 50%;
    // min-height: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem;
}