:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(58, 58, 202);
    color: white;
    min-height: 3rem;
}
.logo {
    font-size: 1.5rem;
    font-weight: 900;
}
.main-navbar {
    display: flex;
    // justify-content: space-around;
    gap: 0.5rem;
    // width: 40%;
    padding: 0.5rem;

    a {
        text-decoration: none;
        color: white;
        display: block;
        min-width: 5rem;
        text-align: center;
        padding: 0.3rem;
        cursor: pointer;
    }
    a:hover, .active {
        background-color: white;
        color: rgb(58, 58, 202);
    }
}
