
<div class="main-header">
    <div class="logo">Bookstore</div>
    <nav class="main-navbar">
        <a routerLink="/product" routerLinkActive="active">Books</a>
        <a routerLink="/order/cart" routerLinkActive="active">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg> -->
            <i class="bi bi-cart"></i>
        </a>
        <a *ngIf="isLoggedIn" routerLink="/user" routerLinkActive="active">
            <i class="bi bi-person-circle"></i>Profile
        </a>
        <a *ngIf="!isLoggedIn" routerLink="/user/login" routerLinkActive="active">Login</a>
        <a *ngIf="!isLoggedIn" routerLink="/user/signup" routerLinkActive="active">Signup</a>
        <a *ngIf="isAdmin" routerLink="/admin" routerLinkActive="active">Admin</a>
        <!-- <a *ngIf="!isAdmin" routerLink="/admin/login" routerLinkActive="active">Login As Admin</a> -->
        <a *ngIf="isLoggedIn" (click)="onClickLogOut()">Log Out</a>
    </nav>
    <button (click)="onToggleMobileNavbar()" [ngClass]="{'hamburger-btn': true, 'hamburger-btn-close': showMobileNavbar}">
        <div class="line top"></div>
        <div class="line middle"></div>
        <div class="line bottom"></div>
    </button>
</div>
<nav *ngIf="showMobileNavbar" class="mobile-navbar">
    <a routerLink="/product" (click)="onClickMobileNavLink()" routerLinkActive="active">Books</a>
    <a routerLink="/order/cart" (click)="onClickMobileNavLink()" routerLinkActive="active">Cart</a>
    <a *ngIf="isLoggedIn" (click)="onClickMobileNavLink()" routerLink="/user" routerLinkActive="active">Account</a>
    <a *ngIf="!isLoggedIn" (click)="onClickMobileNavLink()" routerLink="/user/login" routerLinkActive="active">Login</a>
    <a *ngIf="!isLoggedIn" (click)="onClickMobileNavLink()" routerLink="/user/signup" routerLinkActive="active">Signup</a>
    <a *ngIf="isAdmin" (click)="onClickMobileNavLink()" routerLink="/admin" routerLinkActive="active">Admin</a>
        <!-- <a *ngIf="!isAdmin" routerLink="/admin/login" routerLinkActive="active">Login As Admin</a> -->
    <a *ngIf="isLoggedIn" (click)="onClickLogOutMobile()">Log Out</a>
</nav>