<form class="form" [formGroup]="passwordForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input class="form-control" id="oldPassword" type="password" formControlName="oldPassword" />
        <div 
            *ngIf="passwordForm.get('oldPassword')?.invalid && passwordForm.get('oldPassword')?.touched" 
            class="error-msg"
        >{{getOldPasswordErrorMessage()}}</div>
    </div>
    <div class="form-group">
        <label for="password">New Password:</label>
        <input class="form-control" id="password" type="password" formControlName="password" />
        <div 
            *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched" 
            class="error-msg"
        >New Password required!</div>
    </div>
    <div class="form-group">
        <label for="repeatPassword">Repeat New Password:</label>
        <input class="form-control" id="repeatPassword" type="password" formControlName="repeatPassword" />
        <div 
            *ngIf="passwordForm.get('repeatPassword')?.invalid && passwordForm.get('repeatPassword')?.touched" 
            class="error-msg"
        >Password repeat required!</div>
    </div>
    <div *ngIf="passwordForm.errors && passwordForm.errors['passwordRepeatError'] && passwordForm.get('repeatPassword')?.touched" class="error-msg">Passwords must be identical!</div>
    <div class="btn-container">
        <button class="submit-btn" [disabled]="passwordForm.invalid" type="submit">Submit</button>
        <button class="submit-btn" type="button" (click)="onCancelClick()">Cancel</button>
    </div>
</form>