.cart-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 80%;
}
.remove-btn {
    background-color: transparent;
    border: none;
    color: gray;
}
.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    gap: 0.3rem;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.cart-item {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
}
img {
    width: 30%;
    height: 100%;
}
.image-container {
    display: flex;
    flex-direction: row-reverse;
}
.price-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
    flex-wrap: nowrap;

    .price {
        display: flex;
        flex-direction: column;
    }
}
.quantity {
    width: 4rem;
}
.quantity-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.line-through {
    text-decoration: line-through;
    color: gray;
    font-size: 0.8rem;
}
.item-header {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
}
