.cart-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 80%;
}
.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    flex-wrap: wrap;
    padding: 0.5rem;

    .btn {
        width: 5rem;
    }
}
.cart-item {
    @extend .order-item;
    border-bottom: 1px solid gray;
}

.price-details {
    display: flex;
    gap: 0.3rem;
}

.line-through {
    text-decoration: line-through;
}
