.cart-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    flex-wrap: wrap;
}

.price-details {
    display: flex;
    gap: 0.3rem;
}