<h2>Your Cart</h2>
<div *ngIf="cart.length === 0">
    Your cart is empty.
</div>
<form *ngIf="cart.length !== 0" class="form" [formGroup]="orderForm" (ngSubmit)="onClickCheckout()">
<div class="cart-container">
    <div *ngFor="let item of cart; let i = index" class="cart-item" formArrayName="quantities">
        <div class="item-header">
            <button type="button" (click)="onClickRemove(i)" class="remove-btn"><i class="bi bi-x-lg"></i></button>
            <span>{{item.product.name}}</span>
        </div>
        <div class="image-container">
            <img [src]="imageUrls[i]" alt=""/>
        </div>
        <div class="price-details">
            <div class="price">
                
                <span *ngIf="item.product.discount">{{item.product.price * (100 - item.product.discount) / 100 | currency:'ILS'}}</span>
                <span [ngClass]="{'line-through': item.product.discount}">{{item.product.price | currency:'ILS'}}</span>
            </div>
            
            <!-- <span>X</span> -->
            <span class="quantity-container">
                <label for="">Quantity: </label>
                <input class="form-control quantity" type="number" [value]="item.quantity" [formControlName]="i" (change)="onChangeQuantity(i)" />
                <span *ngIf="quantities.at(i).invalid && quantities.at(i).touched" class="error-msg">{{getQuantityErrorMessage(i)}}</span>
            </span>
            
            <!-- <span>=</span> -->
            <span>{{getItemTotal(item) | currency:'ILS'}}</span>
        </div>
        
    </div>
    <div class="order-item">
        <span>Total:</span>
        <span>{{getOrderTotal() | currency:'ILS'}}</span>
    </div>
</div>
<button [disabled]="orderForm.invalid" type="submit" class="btn btn-primary">Checkout</button>
</form>
<app-dialog-box-modal
    *ngIf="showDialogBox"
    [message]="dialogBoxMessage"
    [isYesNo]="isYesNo"
    (confirm)="onConfirm()"
    (close)="onDialogBoxClose()"
></app-dialog-box-modal>