<app-modal (close)="onModalClose()">
    <div class="dialog-box">
        <div class="message">{{message}}</div>
        <div *ngIf="!isYesNo" class="btn-container">
            <button class="btn btn-primary" (click)="onModalClose()">OK</button>
        </div>
        <div *ngIf="isYesNo" class="btn-container">
            <button class="btn btn-success" (click)="onClickYes()">Yes</button>
            <button class="btn btn-danger" (click)="onClickNo()">No</button>
        </div>
    </div>
</app-modal>