<div class="item-container" [ngClass]="{'list-item-container': !gridMode, 'grid-item-container': gridMode}">
<div class="info-container">
    <div class="image-container">
        <img  [src]="imageUrl">
    </div>
    <div class="product-data">
        <div class="product-name">{{item.name}}</div>
        <div class="author">{{item.author}}</div>
    </div>
</div>

<div class="price">
    <span *ngIf="item.discount">{{item.price * (100 - item.discount) / 100 | currency:'ILS'}}</span>
    <span [ngClass]="{'line-through': item.discount}">{{item.price | currency:'ILS'}}</span>
    
</div>
</div>