.item-container {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    border-bottom: 1px solid gray;
}

img {
    width: 100%;
    height: 100%;
}
.info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
    align-items: center;
}
.image-container {
    // height: 6rem;
    height: 100%;
    width: 100%;
    // background-color: gray;
}
.product-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .product-name {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .author {
        font-size: 0.8rem;
        color: gray;
    }
}

@media screen and (min-width: 725px) {
    .grid-item-container {
        width: 25rem;
        height: 100%;
        
        border: none;
        .image-container {
            height: 25rem;
        }
    }
    .list-item-container {
        flex-direction: row;
        justify-content: space-between;
        height: 4rem;
        width: 100%;
        .info-container {
            flex-direction: row;
        }
        .image-container {
            width: 3rem;
            height: 100%;
        }
        .product-data {
            align-items: start;
        }
    }
    
}